body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: #6E7487;
  --primary-color: #0782DA;
}

body {   
  background: var(--background-color);
}

#about-me {
  display: flex;
  flex-direction: column;
}

.section-title {
  text-align: center;
  padding: 5px;
}

.section-content {
  display: flex;
  flex: 2 85%;
  margin: 10px 0;
  padding: 10px;
}

img {
  width: 25%
}

.info {
  padding-left: 30px;
  font-size: 20px;
}

.box-column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

#contact-me {
  margin: 15px;

}

form {
  width:50%;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 75%;
}

.form textarea {
  display: block;
  height: 100px;
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.alt-contact {
  padding-top: 25px
}

.tile {
  margin: 50px;
}

.large-tile {
  height: 400px;
  background-image: url(../public/img/game-it.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
}

.small-tile {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 2 50%;
  width:90%
}

.tile-1 {
  background-image: url(../public/img/homepage.png);
}
.tile-2 {
  background-image: url(../public/img/run-buddy.png);
}
.tile-3 {
  background-image: url(../public/img/horiseon.png);
}
.tile-4 {
  background-image: url(../public/img/weather-dashboard.png);
}
.tile-5 {
  background-image: url(../public/img/budget-tracker.png);
}

.tile-tag {
  background-color: var(--primary-color);
  align-self: flex-end;
  margin: 0 0 20px 0;
  padding: 10px;
  width:75px
}

.tile-title {
  font-weight: bold;
  margin: 0;
  padding: 0 0 5px 0;
}